<!DOCTYPE html>
  <html>
    <head>
      <title> Chitter </title>
    </head>
    <body>
      <header></header>
      <main> <%= yield %> </main>
      <footer> &copy; </footer>
    </body>
  </html>
